meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Planes y programas como herramientas para la gestión del talento humano
meta(meta name="description" content="Este componente formativo, hace referencia a planes y programas, como herramientas para ayudar y potenciar al talento humano con el que cuenta una organización, promoviendo la motivación, el sentido de pertenencia y desarrollo profesional, para el desempeño eficiente en los puestos de trabajo, que conlleva a la obtención de mejores resultados en la empresa, al impulsar al talento humano que la componen, logrando equilibrio entre el enfoque humano y el logro de metas organizacionales y a su vez, un impacto positivo en el desarrollo del país.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")