h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul
            li 
                span Estructurar planes y programas para la Gestión del talento humano acorde a herramientas gerenciales, normativas y técnicas.


