h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Estructurar planes y programas para la Gestión del Talento Humano acorde a herramientas gerenciales, normativas y técnicas.


