.container#page-tema-1

    .header-ecored
        h1 1. Conceptos básicos para la gestión del talento humano

    .jumbotron.bg-white 

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen1.png", alt="").img-fluid

        .row
            h1.text-color-light Introducción

            p La gestión del talento humano se centra en la #[strong construcción] del personal que hace parte de una organización, para ello, el conjunto de acciones que se diseñan para #[strong desarrollar, retener y motivar a los empleados], y que conllevan a un mayor compromiso para el #[strong logro de las metas] de la organización, deben estar debidamente fundamentadas y soportadas. 


    .jumbotron.bg-white 
        .header#tema-1_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.1] Proceso administrativo

        .row
            h1.text-color-light Definición

            p El proceso administrativo se puede definir como la interrelación conectada de varias etapas, con actividades organizadas y coordinadas, para #[strong alcanzar objetivos] de una manera eficiente. 

            p Para la Gestión del Talento Humano, el #[strong Proceso Administrativo], se convierte en una #[strong herramienta] útil para administrar el #[strong desarrollo del personal], mediante una serie de acciones que permitan #[strong maximizar el desempeño, productividad y retención] de los empleados que hacen parte de una #[strong organización].     

        .row
            h1.text-color-light Etapas

        .row
            p Las etapas o funciones básicas que conforman el Proceso administrativo, se describen a continuación:  

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen2.png", alt="").img-fluid

        .list.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
            .list__txt    
                p #[strong Planeación:] en esta fase se establecen los objetivos, y se formulan las políticas, procedimientos y métodos para alcanzarlos. La planeación o planificación, en el contexto del proceso administrativo, consiste en saber qué se va a hacer por anticipado, cuál va a ser la gestión que se va a realizar para alcanzar los objetivos de manera eficiente.

                p Para Robbins, S. y De Cenzo (2002), “planificar, abarca la definición de las metas de la organización, el establecimiento de una estrategia general para alcanzar esas metas y el desarrollo de una jerarquía minuciosa de los planes para integrar y coordinar las actividades”. 
        
        hr.text-line 


        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen3.png", alt="").img-fluid

        .list.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
            .list__txt    
                p #[strong Organización:] en esta segunda etapa se establece lo que debe hacerse para alcanzar una finalidad planeada, combina lo que se va a hacer con los recursos necesarios para hacerlo, incluye fijar las tareas a realizar, quién las va a hacer, y a quién deben rendir cuentas, lo que significa reunir los recursos para ser utilizados adecuadamente en el logro de los objetivos.
 
                p Robbins, S. (1995), explica que “organizar es disponer el trabajo para conseguir las metas de la organización. Organizar incluye determinar qué tareas hay que hacer, quién las hace, cómo se agrupan, quién rinde cuentas a quién y dónde se toman las decisiones”.
 
        hr.text-line 

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen4.png", alt="").img-fluid

        .list.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
            .list__txt    
                p #[strong Dirección:] la dirección implica poner en marcha la ejecución de los planes, y esto se logra a través de la comunicación, la motivación, el liderazgo y la supervisión necesaria para alcanzar los objetivos de la empresa.

                p Finch, Freeman y Gilbert. (1996). Dicen que la dirección es el proceso para dirigir e influir en las actividades de los miembros de un grupo o una organización entera, con respecto a una tarea. La dirección llega al fondo de las relaciones de los gerentes con cada una de las personas que trabajan con ellos.

        hr.text-line 

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen5.png", alt="").img-fluid

        .list.mt-3
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
            .list__txt    
                p #[strong Control:] el control debe realizarse de manera transparente, produciendo información para realizar la medición de los resultados obtenidos, comparando los resultados con los planes establecidos, comprobar que se están ejecutando las acciones planificadas, y analizar las posibles desviaciones para establecer las acciones de corrección correspondientes para alcanzar los objetivos planteados.

                p Alegre, Berné y Galve (2008) sostienen que el control es la actividad de seguimiento encaminada a corregir las desviaciones que puedan darse respecto a los objetivos. 

        hr.text-line 


        .row.mt-3
            .col-12
                .header-arrow.my-5
                    h3.text-center Las funciones anteriores indican dos fases dentro del proceso administrativo: 

        .row.justify-content-center.mt-5

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen6.png")

                        h4 Fase mecánica
                        hr.text-line-card
                        p.mt-3 Donde se establece qué hacer y se prepara la estructura que se necesita para hacerlo, incluye las etapas de planeación (Qué hacer) y organización (cómo se debe hacer).

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen7.png")

                        h4 Fase dinámica
                        hr.text-line-card 
                        p.mt-3 Se refiere a cómo se maneja lo que se ha planeado y organizado, comprende las etapas de dirección (cómo se está haciendo) y control (cómo se realizó).



    .jumbotron.bg-white 
        .header#tema-1_2.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.2] Gestión del talento humano

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen8.png", alt="").img-fluid

        .row
            h1.text-color-light Concepto

            p La gestión del talento humano, es un conjunto integrado de procesos a través de herramientas que garanticen #[strong el desarrollo personal y profesional], optimizando las relaciones interpersonales, que conlleva a una serie de ventajas como: #[strong aumento de productividad, retención del empleado, mejora la motivación, mayor compromiso con la organización], para obtener mejores resultados, ya que se presenta mayor lealtad por parte de los colaboradores, logrando de esta forma equilibrio entre los objetivos de los empleados y los de la empresa, y con empleados calificados y motivados, se logra el éxito de la organización. 


        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen9.png", alt="").img-fluid


        .row
            h1.text-color-light Importancia

            p La importancia de la Gestión del Talento Humano en las organizaciones radica en alcanzar el #[strong desarrollo del personal y éxito de la organización]. De ahí la importancia y necesidad de poner en marcha herramientas que permitan el desarrollo personal y profesional del talento humano, que da vida, movimiento y acción a la organización. Si los colaboradores se sienten satisfechos en su trabajo, estarán más comprometidos con los objetivos empresariales, y a mayor satisfacción, menor rotación de personal; #[strong ahorrando costos y tiempo] en la formación de un nuevo empleado que además, puede tardar varios meses en alcanzar la productividad que tenía el empleado anterior. 



        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen10.png", alt="").img-fluid


        .row
            h1.text-color-light Gestión por competencias


            p Un modelo de gestión por competencias busca alinear las #[strong habilidades, aptitudes y conocimientos] de los colaboradores con los objetivos y metas de la organización. En un sistema de gestión por competencias, las ocupaciones se analizan en términos de competencias necesarias, para #[strong desempeñar las tareas] de manera eficiente el puesto de trabajo, y para ello se debe crear una dinámica que incluya un conjunto de prácticas para mejorar la productividad y la satisfacción de los colaboradores, en un buen ambiente laboral. #[strong La transparencia, la justicia, y el reconocimiento al mérito], son elementos que caracterizan el modelo de gestión por competencias.

    .jumbotron.bg-white 
        .header#tema-1_3.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.3] Dirección de personal

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen11.png", alt="").img-fluid

        .row
            h1.text-color-light Concepto

            p Dirección de personal es una rama de la organización y administración de empresas, que se encarga de #[strong analizar], con un enfoque humano y de negocios, #[strong la vinculación, desarrollo, retención y promoción de las personas], de acuerdo al tipo de organización y circunstancias particulares, proponiendo las formas para que el personal se sienta satisfecho e incremente su productividad. 

            p En la actualidad, la Dirección de personal, se conoce como Gestión del Talento humano, estas denominaciones corresponden a dos enfoques diferentes. En la dirección de personal, las personas son consideradas un activo más de la empresa, asignadas al cumplimiento de una tarea; en este enfoque la responsabilidad principal del Director de Personal es la de hacer cumplir las normas y reglamentos con poca flexibilidad. En el segundo enfoque, Gestión del Talento Humano, el personal es considerado como un elemento clave para el logro de los objetivos organizacionales, donde el responsable de la gestión es un profesional, con poder de decisión y reconocimiento en la organización, para realizar una función dinámica, asociada al desarrollo y a la flexibilización, de los sistemas de trabajo en constante cambio y transformación, y a partir del cambio de enfoque, las competencias de las personas son consideradas para formar parte de las organizaciones.

            h1.text-color-light Estilos

            p Un estilo de dirección hace referencia a la forma personal que utiliza un dirigente en su trabajo, indicando la manera de influir, guiar y conducir al personal para el logro de los objetivos y al clima laboral de la organización. 


        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen12.png")

                        h4.mt-3 Autocrático
                        hr.text-line-card
                        p.mt-3 El jefe impone las normas y sus criterios, sin consultar con sus subordinados. Es el jefe quien diseña, planifica y asigna el trabajo. El grado de autoridad es muy elevado y suele generar ambientes de trabajo tensos.

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen13.png")

                        h4.mt-3 Paternalista
                        hr.text-line-card 
                        p.mt-3 Establece una actitud protectora con los subordinados, interesándose por sus problemas. No obstante, es el jefe el que toma las decisiones y ejerce la máxima autoridad.


            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen14.png")

                        h4.mt-3 Laissez faire
                        hr.text-line-card 
                        p.mt-3 El jefe no interviene en las decisiones, no motiva, no da instrucciones de trabajo, deja libertad de actuación a los empleados, los cuales realizan libremente su trabajo, tomando sus propias decisiones. Este tipo de dirección conduce a un desconcierto generalizado, al no estar definidas las pautas de trabajo.


        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen15.png")

                        h4.mt-3 Democrático
                        hr.text-line-card
                        p.mt-3 El directivo mantiene un equilibrio entre autoridad (dando orientaciones y marcando pautas) y la libertad de los empleados, que participan en la toma de decisiones.
                        
                        p Contribuye a crear un clima agradable de trabajo, aunque no siempre es eficiente.


            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen16.png")

                        h4.mt-3 Burocrático
                        hr.text-line-card 
                        p.mt-3 La organización establece una estructura jerárquica, con normas, pautas de actuación rígidas, de manera que todo se debe desarrollar conforme a las mismas.


            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen17.png")

                        h4.mt-3 Institucional
                        hr.text-line-card 
                        p.mt-3 El directivo se adapta a la situación de trabajo. Es un buen comunicador, tolerante, con confianza en sus colaboradores que procura fomentar la participación y sabe recompensar el trabajo realizado.

        .row.justify-content-center
            p.text-center Fuente: 
                a.text-center(href="http://www.tiemposmodernos.eu/estilos-de-direccion-ret/" target="_blank") http://www.tiemposmodernos.eu/estilos-de-direccion-ret/

        .row.mt-5
            h1.text-color-light Habilidades

            p Con el transcurrir de los años, la Dirección de Personal ha cambiado y para ello, los responsables de la gestión humana, requieren habilidades para ejercer una función estratégica que va mucho más allá, que la de hacer cumplir normas y reglamentos. 

            p En el modelo de competencias desarrollado por la Sociedad de Recursos humanos de EE.UU., en el 2012, se detallan nueve (9) habilidades básicas para los profesionales encargados de la gestión del talento humano:

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen18.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Visión para los negocios]
                                br
                                br
                                | Tener el conocimiento, la habilidad y la capacidad de usar la información para contribuir al plan estratégico de la organización.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen19.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Comunicación]
                                br
                                br
                                | Capacidad de intercambiar de forma efectiva la información con todas las partes interesadas.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen20.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Capacidad de consulta]
                                br
                                br
                                | Habilidad para proporcionar orientación a las partes interesadas de la organización.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen21.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Habilidades críticas]
                                br
                                br
                                | Poder generar procesos de evaluación e interpretación de la información para tomar decisiones empresariales y sus respectivas recomendaciones.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen22.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Ética e integridad]
                                br
                                br
                                | Integrar valores fundamentales, tales como la integridad y la rendición de cuentas, a través de todas las prácticas organizativas y empresariales.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen23.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Eficacia global y cultural]
                                br
                                br
                                | Capacidad de entendimiento para valorar las perspectivas, las ideas y opiniones de todas las partes.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen24.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Liderazgo]
                                br
                                br
                                | Capacidad para dirigir y contribuir a las iniciativas y procesos dentro de la organización.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen25.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Capacidad de gestión de las relaciones]
                                br
                                br
                                | Tener la habilidad para gestionar interacciones, proporcionar servicio y apoyo a la organización.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-1/imagen26.png").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Experiencia y eficacia]
                                br
                                br
                                | Conocimiento de los principios, las prácticas y las funciones de la gestión eficaz de los recursos humanos.

        .row.justify-content-center
            p.text-center Fuente: 
                a.text-center(href="https://www.rhpaenews.com/las-9-competencias-la-gestion-rrhh/" target="_blank") https://www.rhpaenews.com/las-9-competencias-la-gestion-rrhh/

        .row.mt-3
            .col-12
                .header-arrow.my-5
                    h3.text-center Entre tanto, Gabriel Henao, gerente de la firma Sinergia Humana, considera las siguientes competencias o habilidades para el cargo de líder de gestión humana:

        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen27.png")

                        h4.mt-3 Liderazgo personal
                        hr.text-line-card
                        p.mt-3 Asegura la confiabilidad en su desempeño personal así como también en su carácter.

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen28.png")

                        h4.mt-3 Comunicación
                        hr.text-line-card 
                        p.mt-3 Habilidad para transmitir mensajes, consistencia entre lo que se dice, se piensa y se siente. Asertividad para dar retroalimentación.


            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen29.png")

                        h4.mt-3 Pensamiento estratégico
                        hr.text-line-card 
                        p.mt-3 Mirar el negocio en un contexto sistémico y como un aliado del negocio.


        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen30.png")

                        h4.mt-3 Foco
                        hr.text-line-card
                        p.mt-3 Capacidad para identificar los focos vitales de su gestión y establecer prioridad u orden para asegurar la ejecución de los mismos.


            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen31.png")

                        h4.mt-3 Trabajo en equipo
                        hr.text-line-card 
                        p.mt-3 Búsqueda de resultados sinérgicos con la participación y valoración de las diferencias de los miembros de su equipo.


            .col-12.col-md-4.my-6.my-md-0
                .card.bg-brand-color-light
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-1/imagen32.png")

                        h4.mt-3 Gestión del cambio
                        hr.text-line-card 
                        p.mt-3 Conocer su grado de adaptación y flexibilidad al cambio y desarraigo respecto de su zona de comodidad o confort.

        .row.justify-content-center
            p.text-center Fuente: 
                a.text-center(href="http://www.gestionhumana.com/gh4/BancoConocimiento/E/elcargodemicargo2/elcargodemicargo2.asp?print=1" target="_blank") http://www.gestionhumana.com/gh4/BancoConocimiento/E/elcargodemicargo2/elcargodemicargo2.asp?print=1


        .row.mt-5
            h1.text-color-light Herramientas gerenciales

            p Las herramientas gerenciales, son un conjunto de técnicas útiles para la toma de decisiones ante cualquier desequilibrio en los procesos, donde se hace necesario utilizar tendencias y métodos modernos, para generar valor social y económico, en una época de información y conocimiento. 

            p A continuación, se presentan algunas Herramientas Gerenciales útiles en la gestión del talento humano:


        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen33.svg", alt="").img-fluid


        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen34.svg", alt="").img-fluid

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen35.svg", alt="").img-fluid


        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-1/imagen36.svg", alt="").img-fluid

    .jumbotron.bg-white 
        .header#tema-1_4.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.4] Técnicas de comunicación

        .row.mt-5

            p La comunicación es una de las principales herramientas para la gestión del talento humano, ya que genera motivación y actitudes comprometidas en el personal, en un ambiente de confianza, para escuchar y ser escuchados. Una buena comunicación redunda en el beneficio para todos. 

            P Al compartir conversaciones la comunicación debe ser efectiva, donde las personas se expresen de manera adecuada al momento de transmitir mensajes verbales y no verbales de forma clara y precisa para tener un dialogo de éxito, en un contexto de comprensión y empatía, con Inteligencia Emocional.

            P Para el manejo de la comunicación efectiva existen diferentes técnicas de comunicación, como las que presentan a continuación:


        .row.justify-content-center.mt-70
            .col-12.col-md-4.my-6.my-md-0
                img(src="assets/images/pages/tema-1/imagen37.svg", alt="").img-fluid
            .col-12.col-md-4.my-6.my-md-0
                img(src="assets/images/pages/tema-1/imagen38.svg", alt="").img-fluid

    .jumbotron.bg-white 
        .header#tema-1_5.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 1.5] Normatividad en gestión del talento humano

        .row.mt-5

            p La Constitución Política de Colombia. (1991)., fija en su Artículo 54: “Es obligación del Estado y de los empleadores ofrecer formación y habilitación profesional y técnica a quienes lo requieran”

            P Partiendo de la anterior disposición, en las entidades públicas, la capacitación y desarrollo del personal, responde a los lineamientos legales contemplados en: 

        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.border-color-black
                    .card-body.text-center.h-500

                        .avatar.avatar-super
                            img(src="assets/images/pages/tema-1/imagen39.png")

                        p.mt-3.text-justify En el #[strong Artículo 64 de la Ley 190 de 1995] (Por la cual se dictan normas tendientes a preservar la moralidad en la Administración Pública, y se fijan disposiciones con el fin de erradicar la corrupción administrativa), establece para todas las entidades públicas un programa de inducción para el personal de la entidad. 
                        
                .card.border-color-black
                    .card-body.text-center.h-500

                        .avatar.avatar-super
                            img(src="assets/images/pages/tema-1/imagen40.png")

                        p.mt-3.text-justify La #[strong Ley 734 de 2002], en título IV; para el mejor desempeño de las funciones del Servidor Público, en el numeral 3 del Artículo 33, establece como derecho: “Recibir capacitación para el mejor desempeño de sus funciones”, y como deber, en el numeral 40 del artículo del artículo 34, “Capacitarse y actualizarse en el área donde desempeña su función.


            .col-12.col-md-4.my-6.my-md-0
                .card.border-color-black.h-1028
                    .card-body.text-center

                        .avatar.avatar-super
                            img(src="assets/images/pages/tema-1/imagen41.png")

                        p.mt-3.text-justify En el #[strong Decreto Ley 1567 de 1998], (Por el cual se crean el Sistema Nacional de Capacitación y el sistema de estímulos para los empleados del Estado), en su título I, establece el Sistema Nacional de Capacitación con el ánimo de generar conocimientos, habilidades y cambio de actitudes, que contribuyan a alcanzar la eficiencia y eficacia de la administración, a través de planes Institucionales de capacitación (PIC), en los que deben incluir obligatoriamente planes de inducción y reinducción. En Referencia a esta Ley, hay que tener en cuenta, que en el Artículo 3 de la Ley 1960 de 2019, se establece que el literal g) del artículo 6 del Decreto-Ley 1567 de 1998 quedará así: “Profesionalización del servicio Público. Los servidores públicos independientemente de su tipo de vinculación con el Estado, podrán acceder a los programas de capacitación y de bienestar que adelante la Entidad, atendiendo a las necesidades y al presupuesto asignado. En todo caso, si el presupuesto es insuficiente se dará prioridad a los empleados con derechos de carrera administrativa”.


        .row.justify-content-center.mt-70

            .col-12.col-md-4.my-6.my-md-0
                .card.border-color-black
                    .card-body.text-center.h-600

                        .avatar.avatar-super
                            img(src="assets/images/pages/tema-1/imagen39.png")

                        p.mt-3.text-justify En el #[strong Artículo 36 la Ley 909 de 2004], (Por la cual se expiden normas que regulan el empleo público, la carrera administrativa, gerencia pública y se dictan otras disposiciones), decreta que la capacitación y formación, debe estar orientada a favorecer la eficacia del personal, de los grupos y de la organización, propiciando el desarrollo profesional de los empleados, mediante planes y programas de capacitación, que conlleva a una mejor prestación del servicio, para el logro de los objetivos.
                        
                .card.border-color-black
                    .card-body.text-center.h-600

                        .avatar.avatar-super
                            img(src="assets/images/pages/tema-1/imagen41.png")

                        p.mt-3.text-justify El #[strong Decreto 1083 de 2015], (Por medio del cual se expide el Decreto Único fija Reglamentario del Sector de Función Pública), en su título 9 “Capacitación”, determina que los planes institucionales de capacitación, deben responder a necesidades y requerimientos de los empleados y áreas, de tal forma que permitan el desarrollo de competencias laborales, para lograr excelentes niveles de desempeño (Artículos 2.2.9.1 y 2.2.9.6) 


            .col-12.col-md-4.my-6.my-md-0
                .card.border-color-black.h-1228
                    .card-body.text-center

                        .avatar.avatar-super
                            img(src="assets/images/pages/tema-1/imagen39.png")

                        p.mt-3.text-justify En el #[strong Artículo 3, numeral c]) del Decreto 2482 de 2012, derogado por el Decreto 1083 de 2015, (Por el cual se establecen los lineamientos generales para la integración de la planeación y la gestión), se adoptan políticas de gestión del talento humano, dirigidas al desarrollo y cualificación de los servidores públicos, a través del Plan Institucional de Capacitación, Plan de Bienestar e Incentivos, Plan de Vacantes, clima organizacional, conforme a los siguientes numerales contenidos artículo 17 de la Ley 489 de 1998: 

                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify #[strong Numeral 4:] Programas de mejoramiento continuo de las entidades, en las áreas de gestión, en particular en las de recursos humanos, financieros, materiales, físicos y tecnológicos, así como el desempeño de las funciones de planeación, organización, dirección y control

                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify #[strong Numeral 9:] Evaluación del clima organizacional, de la calidad del proceso de toma de decisiones y de los estímulos e incentivos a los funcionarios o grupos de trabajo.

        .row.justify-content-center.align-items-center.mt-70

            .col-12.col-md-8.my-6.my-md-0
                .card.border-color-black
                    .card-body.text-center

                        .avatar.avatar-super
                            img(src="assets/images/pages/tema-1/imagen39.png")

                        p.mt-3.text-justify Así mismo, los siguientes documentos complementan la formulación y ejecución del Plan de capacitación en el sector público:

                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify La Carta Iberoamericana de la Función Pública, capítulo segundo, numeral 37, referente al Desarrollo de los Empleados Públicos. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify Norma Técnica de calidad de la Gestión Pública (NTC GP 1000:2009), numeral 6.2.2 parágrafo b).


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify El Plan Nacional de Formación y Capacitación de Empleados Públicos para el Desarrollo de Competencias.


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify Sistema de Gestión, creado en el artículo 133 de la Ley 1753 de 2015, el cual integra los sistemas de Desarrollo Administrativo y de Gestión de la Calidad.


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify Bases Plan Nacional de Desarrollo. Atendiendo los pilares y estrategias propuestas para la vigencia 2019-2022.


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify Resolución 390 de 2017: “Por la cual se actualiza el plan Nacional de Formación y Capacitación”. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify Circular Externa No. 100 – 010 de 2014 expedida por el DAFP. Orientaciones encaminadas a la capacitación y formación de los empleados públicos. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan Nacional de Formación y Capacitación para el Desarrollo y la Profesionalización del Servidor Público. 2017. 


                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify Guía Metodológica para la Implementación del Plan Nacional de Formación y Capacitación (PNFC) 2017: Profesionalización y Desarrollo de los Servidores Públicos. 2017. Página 5 de 17.



                        .list.mt-3
                            .list__item
                                .list__item__icon
                                    img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                            .list__txt    
                                p.text-justify Plan Nacional de Desarrollo. Pilares y estrategias propuestas para la vigencia 2019-2022.







