//Colores base del material de formación
$brand-color-dark: #DB9600;
$text-color-dark: #FFFFFF;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #FCF3E3;
$text-color-light: #CB6120;
$brand-color-secondary:#CB6120;

